*{
    font-family: 'Mukta', sans-serif;
    box-sizing: border-box;
    }
    
    body{
        background-color: #fff;
        text-transform: capitalize;
    }
    .content {
        width: 100vw;
        height: 100vh;
        padding:1rem;
        background-color: white;
    }
    @media screen and (min-width:768px){
        .content{
            max-width: 768px;
            margin: 1rem auto;
            height: auto;
    
        }
    }
    