
.details{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

.pokemons {
    margin: 0;
    list-style:none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (min-width:550px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #678fee;
}
.electric {
    background-color: #f7Cf2e;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ff0;
}
.poison {
    background-color: #a040a0;
}
.fighting {
    background-color: #bf3029;
}
.psychic {
    background-color: #f65687;
}
.dark {
    background-color: #725847;
}
.rock {
    background-color: #b8a137;
}
.bug {
    background-color: #a8b720;
}
.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #b9b7Cf;
}
.dragon {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9aec7;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    padding: .25rem .5rem;
}

.backToListButton{
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: 1rem;
}

.pokemon {
    margin:.5rem;
    padding: .8rem;
    color: white;
    border-radius: 1rem;
    height: 118px;
    display: flex;
    flex-direction: column;
}

.pokemon .name {
    color:#fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: grid;
    grid-template-columns: 1.3fr 0.1fr 1.5fr;
}
.pokemon .detail img{
    max-width: 100%;
    height: 70px;
    float: right;
}

.pokemon .number{
    text-align: right;
    color: black;
opacity: .4;
    font-size: .625rem;
}

.pokemon .poketypes{
padding: 0;
margin: 0;
list-style: none;
display: flex;
flex-direction: column;
}

.pokemon .poketypes .type{
    color: #fff;
    border-radius: .8rem;
    text-align: center;
    font-size: .7rem;
    margin: .2rem;
    filter:brightness(1.1);
}

.pokemonpage {
    margin:.5rem;
    padding: .8rem;
    color: white;
    border-radius: 1rem;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.pokemonpage .detail {
    display: grid;
    grid-template-columns: 1fr .1fr 1fr;
}    

.pokemonpage .image {
    display: grid;
    float: right;
    grid-template-columns: .5fr 1fr .5fr;
}
img {
    border-style: none;
    height: 240px;
}
.pokemonpage .name {
    color:#fff;
    margin-bottom: .25rem;
    font-size: 2rem;
    font-weight: bold;
}

    .pokemonpage .poketypes{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    }

    .pokemonpage .poketypes .type{
        color: #fff;
        border-radius: .8rem;
        text-align: center;
        font-size: .7rem;
        margin: .2rem;
        filter:brightness(1.1);
    }

    .pokemonpage .detail img{
        max-width: 80%;
        height: 100px;
        float: right;
    }
        .about {
padding: .8rem;
margin: .5rem;

        }


     /*Inspiração-    https://dribbble.com/shots/6540871-Pokedex-App */